<div class="container mt-5">
  <div class="row">
    <div class="col-md-6" *ngIf="Patient$ | async as patient">
      <h2 class="patient-title">patient Name: {{ patient.name }}</h2>
      <p class="patient-description">patient Age: {{ patient.age }}</p>
      <h4 class="patient-price">patient gender: {{ patient.gender }}</h4>
      <h4 class="patient-quantity">patient mobile: {{ patient.mobile }}</h4>
      <h4 class="patient-quantity">patient email: {{ patient.email }}</h4>
      <h4 class="patient-quantity">patient medical history: {{ patient.medicalHistory }}</h4>
    </div>
  </div>
</div>
